# Python cache
__pycache__/
.mypy_cache/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.env/
.venv/
venv/
ENV/
env/
*.env

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDE configs
.vscode/
.idea/
*.swp

# Build / dist
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log
*.json

# Results & temporary
results/screenshots/
results/demo_video.mp4

# OS files
.DS_Store
Thumbs.db
